* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 150px;
    background: red;
}

.section {
    flex: 1;
    background: yellow;
}

.list-cmy {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.list-cmy>li {
    width: 12%;
    padding: 0 10px;
}

cty {
    display: block;
    padding: 6px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.list-cmy>li>cty>img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin: 10%;
}

.footer {
    width: 100%;
    height: 50px;
    background: skyblue;
}